<div class="container-sm" style="max-width: 500px;">
    <div class="title text-center">
        <h2 class="font-bold" >Password Reset</h2>
      </div>
    
      <form [formGroup]="resetForm" (ngSubmit)="resetSubmit()">
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" required formControlName="email" />
            <mat-hint align="end">Email you provided to create account</mat-hint>
            <mat-error>Email is required to reset your password</mat-error>
        </mat-form-field>
    
        <div class="text-center">
            <button class="mg-bt-20" type="submit" mat-raised-button color="primary" [disabled]="!resetForm.valid">Reset Password</button>
        </div>
    </form>
</div>
