<footer>
    <div class="row footer-row" >
        <div class="col-sm footer-div">
            <ul>
                <li class="">
                    <a href="https://www.facebook.com/prakatsolutions/" target="_blank">
                        <fa-icon [icon]="['fab','facebook']" size="2x" [styles]="{'stroke': 'grey', 'color': 'grey'}"></fa-icon>
                    </a>
                </li>
                <li class="">
                    <a href="https://twitter.com/prakatsolutions?lang=en" target="_blank">
                        <fa-icon [icon]="['fab','twitter']" size="2x" [styles]="{'stroke': 'grey', 'color': 'grey'}"></fa-icon>
                    </a>
                </li>
                <li class="">
                    <a href="https://in.linkedin.com/company/prakat-solutions" target="_blank">
                        <fa-icon [icon]="['fab','linkedin']" size="2x" [styles]="{'stroke': 'grey', 'color': 'grey'}"></fa-icon>
                    </a>
                </li>
                <li class="">
                    <a href="https://www.youtube.com/channel/UCpUup-ubC5W6Gbhhe7y8Hfw" target="_blank">
                        <fa-icon [icon]="['fab','youtube']" size="2x" [styles]="{'stroke': 'grey', 'color': 'grey'}"></fa-icon>
                    </a>
                </li>
                <li class="">
                    <a href="https://www.instagram.com/we_are_prakat/" target="_blank">
                        <fa-icon [icon]="['fab','instagram']" size="2x" [styles]="{'stroke': 'grey', 'color': 'grey'}"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <div class="col-md-12 text-center">
                <p>Copyright © 2020 Prakat Solutions Inc.</p>
            </div>
        </div>
    </div>
</footer>

