<div class="container-sm mg-tp-50 mg-bt-50" style="max-width: 500px;">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><strong>404 - Page Not Found</strong></h4>
        <p>We can't find the page you are looking for. You may click below buttom to redirect you to HOME page.</p>
        <button type="button" class="btn btn-primary" routerLink="/">HOME PAGE</button>
        <hr>
        <p class="mb-0">Please contact system administrator for more information.</p>
      </div>
</div>


